body {
  background-size: cover;
  overflow: hidden;
}
header a {
  display: flex;
  font-size: 36px;
  font-family: 'Moscow Sans', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #000AFF;

  height: 50px;
  margin-left: 70px;
  margin-top: 38px;
}

h1 {
  position: absolute;
  font-size: 96px;
  font-family: 'Moscow Sans', sans-serif;
  color: #000AFF;

  line-height: 116px;
  width: 505px;
  margin-left: 226px;
  margin-top: 91px;
  padding-bottom: 50px;
}

main h3 {
  position: absolute;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;

  line-height: 42px;
  width: 55.903vw;
  left: 226px;
  top: 440px;
}

main p {
  position: absolute;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;

  line-height: 42px;
  width: 55.903vw;
  left: 226px;
  top: 503px;
}

main a {
  position: absolute;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;

  text-decoration: none;
  color: black;
  line-height: 42px;
  left: 226px;
  top: 702px;
}

span {
  text-decoration: underline;
  color: #FF8A00;
}

footer p {
  font-size: 18px;
  font-family: 'Moscow Sans', sans-serif;

  line-height: 44px;

  margin-left: 1032px;
  margin-top: 149px;
  padding-bottom: 12px;
}

.content img {
  position: relative;
  float: right;

  margin-top: 49px;
  margin-right: 160px;
}

main img {
  display: flex;
  justify-content: space-between;
  margin-top: -486.5px;
  margin-right: 60px;
}

.line-1 {
  position: absolute;

  width: 65vw;
  height: 50px;
  margin-left: 300px;
  top: 37px;

  background: #FF8A00;
}

.line-2 {
  float: right;
  width: 50px;
  height: 765px;
  margin-left: 1328px;
  margin-right: 60px;
  margin-top: -162px;

  background: #FF8A00;
}

.line-3 {
  float: right;
  width: 85.431vw;
  height: 50px;
  margin-top: -138px;
  margin-left: 182px;
  margin-right: -8px;

  background: #000AFF;
}

.line-4 {
  position: absolute;
  width: 50px;
  height: 630px;
  left: 88px;
  margin-top: 38px;

  background: #000AFF;
}

.angle-o-2 {
  float: right;
  margin-left: 1053px;
}

.angle-b-4 {
  position: absolute;
  left: 88px;
  top: 1199px;
}

.social_media {
  position: absolute;
  margin-left: 790px;
  margin-top: -60px;
  z-index: 1;

}

.social_media img {
  position: absolute;
  width: 50px;
  height: 50px;

  margin-right: 130px;
  border: 5px solid #000000;
  border-radius: 30px;

}

.ellipse1 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 430px;
  top: 37px;

  z-index: 1;
}

.ellipse2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 670px;
  top: 37px;

  z-index: 1;
}

.ellipse3 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 1141px;
  top: 37px;

  z-index: 1;
}

.ellipse4 {
    position: absolute;
  float: right;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 1328px;
  top: -588px;

  z-index: 1;
}

.station1 {
  position: absolute;
  width: 50px;
  height: 100px;
  background-color: #FF8A00;
  left: 911px;
  top: -37px;
}

.station2 {
  position: relative;
  float: right;
  margin-right: 60px;
  width: 50px;
  height: 50px;
  background-color: #FF8A00;
  top: -770px;
  z-index: 2;
}

.station3 {
  position: relative;
  float: right;
  margin-right: 60px;
  width: 100px;
  height: 50px;
  background-color: #FF8A00;
  margin-right: -100px;
  top: -340px;
}

.station4 {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: #000AFF;
  left: 88px;
  top: 274px;
}

@media (min-width: 2000px) {
.line-1 {
  width: 75.585vw;
}

.content img {
  position: absolute;

  margin-top: 3.403vw;
  margin-left: 71vw;
  width: 19.861vw;
}

main img {
  display: flex;
  justify-content: space-between;
  margin-top: -51px;
  margin-right: 60px;
}

.angle-b-4 {
  top: 765px;
}

.line-2 {
  height: 965px;
}

.line-3 {
  margin-top: -176px;
}

.station2 {
  display: none;
}
  .station3 {
    display: none;
  }

    h1 {
    font-size: 104px;

    line-height: 124px;
    top: 83px;
  }


  main h3 {
    font-size: 44px;

    line-height: 50px;
    top: 448px;
  }

  main p {
    font-size: 44px;

    line-height: 50px;
    top: 519px;
  }

  main a {
    font-size: 44px;

    line-height: 50px;
    top: 758px;
  }

  .ellipse1 {
    left: 670px;
  }

    .station1 {
      left: 984px;
      top: 37px;
    }

    .ellipse2 {
      left: 1298px;
    }

    .ellipse3 {
      left: 1612px;
    }

}

}
