

header a {
  display: flex;
  font-size: 36px;
  font-family: 'Moscow Sans', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #000AFF;

  height: 50px;
  margin-left: 70px;
  margin-top: 38px;
}

.intro h1 {
  position: absolute;
  font-size: 170px;
  font-family: 'Moscow Sans', sans-serif;
  color: #000AFF;
  width: 1240px;

  line-height: 206px;
  margin-left: 61px;
  margin-top: 60px;
}

.m h2 {
  position: absolute;
  font-size: 96px;
  font-family: 'Moscow Sans', sans-serif;

  margin-left: 116px;
  top: 903px;
}

.m p {
  position: absolute;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;

  line-height: 56px;
  width: 1180px;
  margin-left: 226px;
  padding-bottom: 25px;
  top: 1409px;
}

.gray {
  text-decoration: line-through;
  color: #e5e5e5;
}

.orange {
  text-decoration: underline;
  color: #FF8A00;
}

.lines_intro img {
  display: flex;
  justify-content: space-between;
  margin-top: -51px;
  margin-right: 60px;
}

.line-1 {
  position: absolute;

  width: 65vw;
  height: 50px;
  margin-left: 240px;
  top: 37px;

  background: #000AFF;
}

.line-2 {
  float: right;
  width: 50px;
  height: 525px;
  margin-left: 1328px;
  margin-right: 60px;

  background: #000AFF;
}

.line-3 {
  float: right;
  width: 87.431vw;
  height: 50px;
  margin-top: -100px;
  margin-right: 380px;

  background: #000AFF;
}

.line-4 {
  float: right;
  width: 90.625vw;
  height: 50px;
  left: 141px;
  margin-top: 38px;

  background: #FF8A00;
}

.angle-b-2 {
  float: right;
  margin-left: 1053px;
}

.angle-b-3 {
  float: right;
  margin-left: 1053px;
  margin-top: 1037px;
}

.angle-b-4 {
  position: absolute;
  left: 63px;
  top: 540px;
}

.ellipse1 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 430px;
  top: 37px;

  z-index: 1;
}

.ellipse2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 670px;
  top: 37px;

  z-index: 1;
}

.ellipse3 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 1141px;
  top: 37px;

  z-index: 1;
}

.ellipse4 {
    position: absolute;
  float: right;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 1328px;
  top: -588px;

  z-index: 1;
}

.station1 {
  position: absolute;
  width: 50px;
  height: 100px;
  background-color: #000AFF;
  left: 911px;
  top: 37px;
}

.station2 {
  position: relative;
  float: right;
  margin-right: 60px;
  width: 100px;
  height: 50px;
  background-color: #000AFF;
  top: -790px;
  z-index: 2;
}

.station3 {
  position: relative;
  float: right;
  margin-right: 60px;
  width: 100px;
  height: 50px;
  background-color: #000AFF;
  margin-right: -150px;
  top: -340px;
}

.em_1 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 336px;
  top: 1112px;

  z-index: 1;
}

.em_2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 540px;
  top: 1112px;

  z-index: 1;
}

.em_3 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 744px;
  top: 1112px;

  z-index: 1;
}

.em_4 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 948px;
  top: 1112px;

  z-index: 1;
}

.em_5 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 417px;
  top: 1248px;

  z-index: 1;
}

.em_6 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 621px;
  top: 1248px;

  z-index: 1;
}

.em_7 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 825px;
  top: 1248px;

  z-index: 1;
}

.em_8 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 1029px;
  top: 1248px;

  z-index: 1;
}

.lines_m1 img {
  display: flex;
  justify-content: space-between;

  margin-right: 60px;
}

.lines_m1 .angle-o-2 {
  position: absolute;
  top: 1647px;
  left: -138px;
}

.lines_m1 .angle-b-2 {
  float: right;
  margin-top: 464px;
}

.lines_m1 .angle-b-1 {
  position: absolute;
  top: 2898px;
  left: 38px;
}

.line-5 {
  position: absolute;
  width: 50px;
  height: 1414px;
  left: 137px;
  top: 1947px;
  background-color: #FF8A00;
}

.line-6 {
  position: absolute;
  width: 87.222vw;
  height: 50px;
  top: 1763px;

  background-color: #000AFF;
}

.line-7 {
  float: right;
  width: 50px;
  height: 535px;
  margin-left: 1128px;
  margin-right: 60px;

  background-color: #000AFF;
}

.line-8 {
  position: absolute;
  width: 60.583vw;
  height: 50px;
  top: 2898px;
  left: 363px;

  background-color: #000AFF;
}

.line-9 {
  position: absolute;
  width: 50px;
  height: 1338px;
  top: 3214px;
  left: 38px;

  background-color: #000AFF;
}

.line-10 {
  position: absolute;
  width: 60.583vw;
  height: 50px;
  top: 3587px;
  left: 363px;

  background-color: #FF8A00;
}

.line-11 {
  float: right;
  width: 50px;
  height: 438px;
  margin-left: 1128px;
  margin-right: 60px;

  background-color: #FF8A00;
}

.line-12 {
  position: absolute;
  width: 75.583vw;
  height: 50px;

  top: 4625px;
  background-color: #FF8A00;
}

.line-13 {
  position: absolute;
  width: 60.583vw;
  height: 50px;
  top: 4727px;
  left: 363px;

  background-color: #000AFF;
}

.line-14 {
  float: right;
  width: 50px;
  height: 258px;
  margin-left: 1128px;
  margin-right: 60px;

  background-color: #000AFF;
}

.line-15 {
  position: absolute;
  width: 73.583vw;
  height: 50px;

  top: 5585px;
  background-color: #000AFF;
}

.line-16 {
  position: absolute;
  width: 84.95vw;
  height: 50px;
  top: 5723px;

  background-color: #FF8A00;
}

.line-17 {
  float: right;
  width: 50px;
  height: 1298px;
  margin-left: 1128px;
  margin-right: 60px;

  background-color: #FF8A00;
}

.lines_m1 .angle-b-3 {
  float: right;
  margin-top: 0px;
}

.lines_m1 .angle-o-4 {
  position: absolute;
  top: 3312px;
  left: 137px;
}

.lines_m1 .angle-o-2-2 {
  float: right;
  margin-top: 639px;
  margin-left: 748px;
}

.lines_m1 .angle-o-3 {
  float: right;
  margin-left: 748px;
}

.lines_m1 .angle-b-4 {
  position: absolute;
  top: 4452px;
  left: 38px;
}

.lines_m1 .angle-b-2-2 {
  float: right;
margin-top: 52px;
  margin-left: 1238px;
}

.lines_m1 .angle-b-3-3 {
  float: right;
  margin-left: 1238px;
}

.lines_m1 .angle-o-2-2-2 {
  float: right;
  margin-top: 54px;
  margin-left: 748px;
}

.lines_m1 .angle-o-2-2-2 {
  float: right;
  margin-left: 1238px;
  margin-top: 88px;
}

.m1_cr {
  position: absolute;
  margin-left: 20.972vw;

}

.m1_cr h2 {
  margin-top: 1818px;
  font-size: 96px;
  font-family: 'Moscow Sans', sans-serif;
}

.m1_cr p {
  padding-top: 70px;
  padding-bottom: 35px;
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
  width: 900px;
  line-height: 75px;
}

.m1_cr a {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  line-height: 75px;
  color: #FF8A00;
}

.m1_cr img {
  padding-top: 30px;
  width: 400px;
}

.m3_cr {
  position: absolute;
  margin-left: 20.972vw;
  width: 1000px;

}

.m3_cr h2 {
  margin-top: 5818px;
  font-size: 96px;
  font-family: 'Moscow Sans', sans-serif;
}

.m3_cr p {
  padding-top: 70px;
  padding-bottom: 35px;
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
  width: 900px;
  line-height: 75px;
}

.m3_cr a {
  width: 200px;
  font-family: 'Roboto', sans-serif;
  line-height: 75px;
  color: #FF8A00;
}

.m3_cr img {
  padding-top: 30px;
  width: 800px;
}

.m4_cr {
  position: absolute;
}

.m1_artpr {
  position: absolute;
    margin-left: 7.083vw;
  margin-top: 50px;

}

.m1_artpr h2 {
  margin-left: 820px;
  margin-top: 2940px;
  font-size: 96px;
  font-family: 'Moscow Sans', sans-serif;
}

.m1_artpr p {
  margin-left: 820px;
  padding-top: 70px;
  padding-bottom: 35px;
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
  width: 600px;
  line-height: 75px;
}

.m1_artpr a {
  margin-left: 920px;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  line-height: 75px;
  color: #FF8A00;
}

.m1_artpr img {
  margin-left: 202px;
  margin-top: 2940px;
  position: absolute;
}

.m2_artpr {
  position: absolute;

  margin-top: 170px;

}

.m2_artpr h2 {
  margin-left: 700px;
  margin-top: 4640px;
  font-size: 96px;
  font-family: 'Moscow Sans', sans-serif;
}

.m2_artpr p {
  margin-left: 700px;
  padding-top: 70px;
  padding-bottom: 35px;
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
  width: 600px;
  line-height: 75px;
}

.m2_artpr img {
  margin-left: 202px;
  margin-top: -500px;
  position: absolute;
}

.m2_cr {
  position: absolute;
  margin-left: 20.972vw;
}

.m2_cr {
  position: absolute;
}

.m2_cr h2 {
  margin-top: 3660px;
  font-size: 96px;
  font-family: 'Moscow Sans', sans-serif;
}

.m2_cr p {
  padding-top: 70px;
  padding-bottom: 35px;
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
  width: 900px;
  line-height: 75px;
}

.m2_cr a {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  line-height: 75px;
  color: #FF8A00;
}

.m2_cr img {
  padding-top: 30px;
  width: 800px;
}

.m2_artpr {
  position: absolute;
}

.m3_artpr {
  position: absolute;
}

.m4_artpr {
  position: absolute;
}

@media (min-width: 1598px) {
.line-3 {
  margin-top: -96px;
}

.line-4 {
  margin-top: 40px;
}

.station2 {
  margin-right: -1375px;
  margin-top: 270px;
}

.station3 {
  margin-right: -1433px;
  margin-top: 270px;
}

.lines_m1 .angle-b-2 {
  margin-top: 466px;
}

.line-12 {
  width: 80.583vw;
}

}
@media (min-width: 1640px) {
.line-1 {
  width: 76.585vw;
}

.line-8 {
 width: 70.585vw;
}

.line-10 {
 width: 70.585vw;
}

.line-12 {
  width: 85.583vw;
}

.line-11 {

  margin-left: 2128px;

}

.line-13 {
  width: 70.583vw;
}

.line-15 {
  width: 87.583vw;
}

.line-16 {
  width: 87.583vw;
}

}

@media (min-width: 2560px) {
  .intro h1 {
  text-align: justify;
  margin-left: 25.781vw;
  margin-top: 80px;
  }
  .line-1 {
  width: 78.585vw;
  }

  .line-2 {
  margin-left: 2328px;
  }

  .line-7 {
    margin-left: 1928px;
  }

  .line-8 {
   width: 76.585vw;
  }

  .ellipse1 {
    left: 1348px;
  }

    .station1 {
      left: 1926px;
      top: 1061px;
    }

    .ellipse2 {
      left: 740px;
    }

    .ellipse3 {
      left: 1956px;
    }

      .m1_cr {
        margin-left: 35.972vw;
      }

      .m2_cr {
        margin-left: 35.972vw;
      }

      .m3_cr {
        margin-left: 35.972vw;
      }

      .m1_artpr {
        margin-left: 24.972vw;
      }

      .m2_artpr {
        margin-left: 24.972vw;
      }

      .line-12 {
        width: 90.583vw;
      }

      .line-17 {
          margin-left: 57.972vw;
      }



}

@media (min-width: 2571px) {
  .lines_m1 .angle-o-2-2 {
    float: right;
    margin-top: 639px;
    margin-left: 1248px;
  }

  .lines_m1 .angle-b-2-2 {

    margin-top: 49px;
  }

  .line-10 {
        width: 75.583vw;
  }

  .line-13 {
        width: 75.583vw;
  }


  .lines_m1 .angle-b-2-2 {
    float: right;
  margin-top: 52px;
    margin-left: 1438px;
  }

  .lines_m1 .angle-b-3-3 {
    float: right;
    margin-left: 1658px;
  }
}
